# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.wheel

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media and static files
media/
staticfiles/
*.sass-cache

# Unit test / coverage reports
.coverage
*.cover
.hypothesis/
.tox/
.nox/
*.coverage.*
.cache/
nosetests.xml
coverage.xml
*.coveragerc

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm / IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# dotenv
.env
*.env

# Docker
*.log
docker-compose.override.yml
